nav {
  display: flex;
  /* flex-direction: row; */
  height: 50px;
  width: 100%;
  flex-flow: row wrap;
  align-items: end;
  background-color: rgb(97, 37, 97);

  /* position: relative;
top: 0;
left: 0; */

}

.nav-button1 {
  background: aqua;
  height: 30px;
  width: 80px;
  margin: 10px;
}

.nav-button2 {
  background: aqua;
  height: 30px;
  width: 120px;
  margin: 10px;
}


.nav-button3 {
  background: aqua;
  height: 30px;
  width: 80px;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.yellow-box {
  background-color: yellow;
  height: 500px;
  flex-grow: 4;

}

.green-box {
  background-color: green;
  height: 500px;
  flex-grow: 1;

}